<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="preload" href="/<%= htmlWebpackPlugin.files.chunks.runtime.entry %>" as="script">
  <link rel="preload" href="<%= htmlWebpackPlugin.files.chunks.main.entry %>" as="script">
</head>
<body>
  <script src="/<%= htmlWebpackPlugin.files.chunks.runtime.entry %>" defer></script>
  <script src="/<%= htmlWebpackPlugin.files.chunks.main.entry %>" defer></script>
</body>
</html>